body {
	text-align: center;
}

.sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #f1f1f1; 
	overflow-x: hidden;
	transition: 0.5s; 

}

.openbtn {
	font-size: 40px;
	float: left;
	cursor: pointer;
}

.closebtn {
	float: right;
	margin: 1px 10px;
	font-size: 40px;
	cursor: pointer;
}

.sidebar .parameters {
	margin-top: 60px;
}

.sidebar select {
	display: block;
	margin: auto;
}

.clock {
	position: relative;
  	margin:0 auto;

  	width: 500px;
    height: 500px;
    border: 6px solid black;
    border-radius: 50%
}

#center {
	content: '';
	position: relative;
	top: 247px;
	left: 247px; 
	width: 6px;
	height: 6px;
	border-radius: 100%;
	background-color: red;
	z-index: 10;
	
}

#hourHand {
	content: '';
	height: 160px;
	width: 0;
	border-left: 6px solid black;
	position: absolute;
	left: 247px;
	top: 90px;
	transform: rotate(50deg);
	transform-origin: 50% 100%;

	transition: 0.2s;

  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

#minuteHand {
	content: '';
	height: 230px;
	width: 0;
	border-left: 6px solid black;
	position: absolute;
	left: 247px;
	top: 20px;
	transform: rotate(180deg);
	transform-origin: 50% 100%;

	transition: 0.5s;

  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

#secondHand {
	content: '';
	height: 230px;
	width: 0;
	border-left: 2px solid red;
	position: absolute;
	left: 249px;
	top: 20px;
	transform: rotate(0deg);
	transform-origin: 50% 100%;

	transition: 0.2s; 
	
  	-webkit-font-smoothing: antialiased;
  	outline: 1px solid transparent;
}

#digitalTime {
	text-align: center;
}